
contractor-management-backend/target
contractor-management-backend/.idea
contractor-management-backend/*.iml

contractor-management-frontend/node_modules
contractor-management-frontend/build

.DS_Store
.idea
